
.bodycontent {
  grid-column: 3 / span 8;
  grid-row: 2;
}

.me {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);

}

.aboutme {
  grid-column: 1;
}

.portrait {
  grid-column: 2;
  grid-row: 1 / span 2;
}



h1 {
  font-family: 'Oswald', sans-serif;
  color: #FFF;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 65px;
  letter-spacing: 1px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  line-height: 29px;
  text-align: center;
  color: #B38E40;
}



.workTogether h3 {
  color: #BA746A;
  margin: 10px;
}




h3 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: medium;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
}

p {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  font-weight: 300;
}


.fixedfoot {
  grid-column: 1 / -1;
  grid-row: 3;
  background-image: url(../images/plants1.png);
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
}

.leftfoot {
  flex-grow: 1; /* to push the right icons right*/
}

footer a {
  margin: 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-align: left;
  color: #B38E40;
  text-decoration: none;
  padding-left: 20px;
  font-weight: 300;
}

footer a:hover {
  font-weight: 500;
  color: #EDCCC6;
}

footer h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: right;
  color: #FFFFFF;
  padding: 10px;
  right: 8px;
}
