
header {
  position: absolute;
  z-index: 99;
  margin-top: 10px;
  max-width: 100%;
}

body {
  max-width: 100%;
  line-height: 1;
  margin: auto;
}

.fixednav {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
}

.leftnav {
  flex-grow: 1; /* to push the right icons right*/
}


a {
  padding: 1em;
}


nav a {
  font-size: 25px;
  line-height: 29px;
  font-family: 'Raleway', sans-serif;
  color: #EDCCC6;
  text-decoration: none;
  }

.angle {
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(85% - 8vw), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(85% - 8vw), 0 100%);
}

@supports not ((-webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8vw), 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8vw), 0 100%))) {
  .angle::before, .angle::after {
    content: "";
    position: relative;
    left: 0;
    z-index: 10;
    width: 100%;
    border-style:  transparent transparent #fff transparent;
  }
  .angle::after {
    bottom: 0;
    border-width: 0 0 8vw 100vw;
    width: 100%;
    border-color: transparent transparent #fff transparent;
  }
}

.angle img {
  width: 100%;
}

main {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 800px auto 40px;
    align-content: center;
}

.hero {
  grid-column: 1 / -1;
  position: relative;
}

.arrows {
  top: -6.5%;
  width: 65px;
  margin: auto;
  position: relative;
}

.hero-text {
  position: absolute;
  max-width: 65%;
  left: 8.33%;
  top: 20%;
  color: #FFF;
}

.iconlist {
  margin: 10px;
  position: absolute;
  max-width: 65%;
  left: 6%;
  top: 48%;
  width: 45px;
  height: 45px;
  color: #B38E40;
  display: flex;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.bodycontent {
  grid-column: 3 / span 8;
}

.blurb {
  grid-column: 1 / -1;
  grid-row: 2;
}

.form {
  margin-top: 100px;
}

.container {
  display: block;
  margin-top: 40px;
  margin-bottom: 70px;
  display: grid;
  grid-gap: 3px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-align: left;
  width: 100%;
}

.formEntry {
  margin-top: 15px;
}

.container #name {
  width: 700px;
  height: 30px;
  background-color: #F2F2F2;
  border-style: none;
  border-radius: 8px;
}

.container #email {
  width: 700px;
  height: 30px;
  background-color: #F2F2F2;
  border-style: none;
  border-radius: 8px;
}

.container #number {
  width: 700px;
  height: 30px;
  background-color: #F2F2F2;
  border-style: none;
  border-radius: 8px;
}

.container #message {
  width: 700px;
  height: 200px;
  background-color: #F2F2F2;
  border-style: none;
  border-radius: 8px;
  margin-bottom: 20px;
}

.workTogether {
  padding-bottom: 50px;
}

input {
  background: #12634F;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  border-style: none;
  border-color: #0066A2;
  height: 30px;
  width: 295px;
  border-radius: 8px;
  align-self: center;
}


h1 {
  font-family: 'Oswald', sans-serif;
  color: #FFF;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 65px;
  letter-spacing: 1px;
}

h2 {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  text-align: center;
}

h3 {
  color: #BA746A;
  margin: 15px;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  text-align: center;
}

h4 {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-align: center;
  letter-spacing: -0.573913px;
  font-weight: 100;
  text-align: center;
}



h5 {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.573913px;
  color: #BA746A;
  font-weight: 500;
}

.paragraph {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  text-align: center;
}

h2 {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
}

h3 {
  color: #BA746A;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
}



.fixedfoot {
  grid-column: 1 / -1;
  grid-row: 8;
  background-image: url(../images/plants1.png);
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
}

.leftfoot {
  flex-grow: 1; /* to push the right icons right*/
}

footer a {
  margin: 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-align: left;
  color: #B38E40;
  text-decoration: none;
}

footer h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: right;
  color: #FFFFFF;
  padding: 10px;
  right: 8px;
}
