
header {
  position: absolute;
  z-index: 99;
  padding: 30px;
  max-width: 100%;
}

.fixednav {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
}

.leftnav {
  flex-grow: 1; /* to push the right icons right*/
}


a {
  padding: 1em;
}


nav a {
  font-size: 25px;
  line-height: 29px;
  font-family: 'Raleway', sans-serif;
  color: #EDCCC6;
  text-decoration: none;
  margin: 15px;
  }

.angle {
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(85% - 8vw), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(85% - 8vw), 0 100%);
}

@supports not ((-webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8vw), 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8vw), 0 100%))) {
  .angle::before, .angle::after {
    content: "";
    position: relative;
    left: 0;
    z-index: 10;
    width: 100%;
    border-style:  transparent transparent #fff transparent;
  }
  .angle::after {
    bottom: 0;
    border-width: 0 0 8vw 100vw;
    width: 100%;
    border-color: transparent transparent #fff transparent;
  }
}

.angle img {
  width: 100%;
}

main {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 650px auto auto auto 40px;
}

.hero {
  grid-column: 1 / -1;
  position: relative;
}

.arrows {
  left: 50%;
  top: -17%;
  position: relative;
}

.hero-text {
  position: absolute;
  max-width: 65%;
  left: 8.33%;
  top: 20%;
  color: #FFF;
}

.iconlist {
  margin: 10px;
  position: absolute;
  max-width: 65%;
  left: 6%;
  top: 48%;
  width: 45px;
  height: 45px;
  color: #B38E40;
  display: flex;
}

.container {
  grid-column: 2 / span 2;
}



/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}


.form {
    display: grid;
    grid-template-columns: 2fr 12fr 2fr;
    grid-gap: 3px;
}


h1 {
  font-family: 'Oswald', sans-serif;
  color: #FFF;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 65px;
  letter-spacing: 1px;
}

.blurb h2 {
  color: #B38E40;
}

.blurb {
  position: relative;
  top: -100px;
}

.workTogether h2 {
  color: #BA746A;
  margin: 15px;
}



h3 {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.573913px;
  color: #000000;
}

.paragraph {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  text-align: center;
}

h2 {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
}

h3 {
  color: #BA746A;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
}



.fixedfoot {
  background-image: url(../images/plants1.png);
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
}

.leftfoot {
  flex-grow: 1; /* to push the right icons right*/
}

footer a {
  margin: 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-align: left;
  color: #B38E40;
  text-decoration: none;
}

footer h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: right;
  color: #FFFFFF;
  padding: 10px;
  right: 8px;
}
