header {
  position: absolute;
  z-index: 99;
  margin-top: 5px;
  max-width: 100%;
}

.fixednav {
  display: flex;
  max-width: 100%;
  height: 40px;
  align-items: center;
}

.leftnav {
  flex-grow: 1; /* to push the right icons right*/
}

.rightnav {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  height: 5rem;
  position: fixed;
  width: 60%;
  z-index: 3;
}

.rightnav a {
  display: block;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 20px 20px;

}



nav a {
  font-size: 25px;
  line-height: 29px;
  font-family: 'Raleway', sans-serif;
  color: #EDCCC6;
  text-decoration: none;
  font-weight: 300;
  padding: 10px;
  }

/* header */

.logo {
  margin-bottom: auto;
  margin-top: auto;
  width: 7%;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: white;
}

.logo {
  display: block;
  float: left;
  font-size: .5rem;
  margin-left: 2rem;
  margin-top: 1.5rem;
  text-decoration: none;
}

/* menu */
.menu {
  position: fixed;
  top: 49px;
  width: 100%;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #FF3E55;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  align-items: center;
  background: #FF3E55;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*Ipad Responsive design*/
@media (min-width: 42rem) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    margin-right: 0rem;
    max-height: none;
    position: relative;
    width: 75%;
    height: 6rem;
  }

  .menu {
    top: 0px;
  }

  .menu a {
    height: 6rem !important;
  }

  .header .menu-icon {
    display: none;
  }

  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #FF3E55;
    color: white;
  }

  a {
    color: #FF3E55;
    font-family: 'Roboto Slab', serif;
    font-size: 1.8rem;
    font-weight: bold;
  }

  /* header */
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    height: 6rem;
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  .logo {
    align-items: center;
    width: 4%;
  }

  .header .logo {
    margin-left: 5rem;
    margin-top: 2rem;
  }
}

/*Desktop Responsive design */
@media screen and (min-width: 1200px) {
  .header .logo {
    margin-left: 10rem;
    margin-top: .7rem;
  }

  .header li {
    float: left;
  }

  .header .menu {
    clear: none;
    float: right;
    margin-right: 0rem;
    max-height: none;
    position: relative;
    width: 43%;
    height: 6rem;
  }
}

@media screen and (min-width: 87rem) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    margin-right: 0rem;
    max-height: none;
    position: relative;
    width: 40%;
    height: 6.5rem;
  }

  .header .menu-icon {
    display: none;
  }

  .menu a {
    height: 6.5rem !important;
  }

  a {
    color: #FF3E55;
    font-family: 'Roboto Slab', serif;
    font-size: 1.8rem;
    font-weight: bold;
  }

  /* header */
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    height: 6.5rem;
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  .logo {
    width: 4%;
  }

  .header .logo {
    margin-left: 10rem;
    margin-top: 1rem;
  }
}
