html {
  scroll-behavior: smooth;
}

header {
  position: absolute;
  z-index: 99;
  margin-top: 15px;
  padding: 5px;
  max-width: 100%;
}

header a:hover {
 color: #BA746A;
}

.current {
font-weight: 500;
}

body {
  max-width: 100%;
  line-height: 1;
  margin: auto;
}

.gotop {
  position: fixed;
  width: 50px;
  height: 50px;
  color: #3C5050;
  bottom: 40px;
  right: 8px;
  z-index: 0;
  display: none;
}

.gotopbtn {
  color: #3C5050;
  font-size: 45px;
}

.fixednav {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
}

.leftnav {
  flex-grow: 1;
/* to push the right icons right*/
}

.rightnav {
  display: flex;
  margin-right: 15px;
}



nav a {
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  color: #EDCCC6;
  text-decoration: none;
  font-weight: 300;
  padding: 10px;
  }

.home {
  display: none;
}

.angle {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 800px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(85% - 2vw), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(85% - 2vw), 0 100%);
}

@supports not ((-webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8vw), 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8vw), 0 100%))) {
  .angle::before, .angle::after {
    content: "";
    position: relative;
    left: 0;
    z-index: 10;
    width: 100%;
    border-style:  transparent transparent #fff transparent;
  }
  .angle::after {
    bottom: 0;
    border-width: 0 0 8vw 100vw;
    width: 100%;
    border-color: transparent transparent #fff transparent;
  }
}

.angle img {
  height: 600px;
}

main {
    height: 100%;
    max-width: 1440;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 600px auto 325px;
}

main a:hover {
    opacity: 0.7;
}

.hero {
  grid-column: 1 / -1;
  grid-row: 1;
  position: relative;
}

.arrows {
  top: -13%;
  left: 45%;
  position: relative;
  width: 45px;
}

.hero-text {
  position: absolute;
  max-width: 86%;
  left: 8.33%;
  top: 18%;
  color: #FFF;
}

.bodycontent {
  grid-column: 2 / span 10;
  grid-row: 2;
}

.insta a:visited {
  color: #3C5050;
}

.blurb a:visited {
  color: #BA746A;
}

.getintouch a:visited {
  color: #BA746A;
}

.button a:visited {
  color: white;
}

.blurb {
  margin-top: 30px;
  margin-bottom: 150px;
}

.gatherimg img {
  margin-top: 20px;
  max-width: 100%;
}

.gatherdesc {
 margin-top: 20px;
}

.paragraph {
  margin-top: 140px;
  margin-bottom: 10px;
  text-align: center;
}

.button {
  background: #12634F;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  border-style: none;
  border-color: #0066A2;
  width: 135px;
  text-align: center;
  border-radius: 8px;
  margin-top: 15px;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
}


h1 {
  font-family: 'Oswald', sans-serif;
  color: #FFF;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 1px;
}

.blurb h2 {
  color: #9C7B35;
}

.blurb2 {
  text-align: center;
  margin: 40px;
}


h2 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.3;
  text-align: center;
  font-weight: 400;
}

.gather h3 {
  margin-bottom: 20px;
}

h3 {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.573913px;
  color: #000000;
  font-weight: 200;
}

h4 {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-align: center;
  letter-spacing: -0.573913px;
  font-weight: 100;
  text-align: center;
}

h6 {
  font-weight: 300;
}

.pink {
  color: #BA746A;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
}

.blurb2 h2 {
  margin-bottom: 30px;
}

.blurb p {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  font-weight: 300;
}

.path p {
margin-top: 30px;
line-height: 30px;
}

.workTogether p {
  text-align: center;
}

.path {
  margin-bottom: 140px;
  margin-top: 140px;
}

.portrait img {
  max-width: 100%;
  margin-top: 30px;
}

.workTogether h4 {
  color: #BA746A;
  padding: 5px;
  margin-bottom: 80px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* Contact Specific Styles */


input[type=text] {
  color: black;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

input[type=Email] {
  color: black;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

input[type=message] {
  color: black;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

.iconlist {
  position: absolute;
  max-width: 65%;
  left: 7%;
  top: 58%;
  width: 45px;
  height: 45px;
  color: #9C7B35;
  display: flex;
}

.iconlist a {
  margin-left: 5px;
  margin-right: 5px;
}

.iconlist a:hover {
  opacity: 0.7;
}

.form {
  margin-top: 100px;
}

.container {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-top: 40px;
  margin-bottom: 70px;
  display: grid;
  grid-gap: 3px;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container #name {
  width: 100%;
  height: 30px;
  background-color: #F2F2F2;
  border-style: none;
  border-radius: 8px;
  margin-bottom: 10px;
}

.container #email {
  width: 100%;
  height: 30px;
  background-color: #F2F2F2;
  border-style: none;
  border-radius: 8px;
  margin-bottom: 10px;
}

.container #phoneNumber {
  width: 100%;
  height: 30px;
  background-color: #F2F2F2;
  border-style: none;
  border-radius: 8px;
  margin-bottom: 10px;
}

.container #message {
  width: 100%;
  height: 200px;
  background-color: #F2F2F2;
  border-style: none;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-bottom: 10px;
}

input {
  background: #12634F;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  border-style: none;
  border-color: #0066A2;
  width: 295px;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  margin: auto;
  display: block;
}

input:hover {
  opacity: 0.9;
}

/* About Specific Styles */

.me {
  margin-bottom: 40px;
  margin-top: 60px;
}

.insta {
  margin-top: 20px;
  margin-bottom: 40px;
}

.insta a {
  color: #12634F;
}

.insta a:hover {
  opacity: 0.7;
}

.experience {
    margin-top: 40px;
    margin-bottom: 100px;
    max-width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.skills {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  grid-column: 1;
}

.roles {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  line-height: 1;
  grid-column: 2;
  font-weight: 500;
}

.roles li {
  margin-bottom: 15px;
}

.pm {
  color: #9C7B35;
}

.mkt {
  color: #BA746A;
}

.ux {
  color: #12634F;
}

.creative {
  margin-top: 40px;
  margin-bottom: 30px;
}

.creativeblurb {
  margin-bottom: 40px;
}

.creativeImages {
  column-count: 2;
  column-gap: 5px;
}

.creativeImages img {
  width: 100%;
}

.workTogether {
  margin-top: 150px;
  margin-bottom: 20px;
}

.getintouch {
  margin-bottom: 80px;
  color: #BA746A;
}

.getintouch a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: medium;
  font-size: 33px;
  text-align: center;
}

/* GATHER SPECIFIC */

.heroApp {
  position: absolute;
  max-width: 40%;
  right: 8.33%;
  top: 20%;
  color: #FFF;
}

.hero-text img {
  width: 180px;
}

.introbox img {
  max-width: 100%;
  margin: auto;
}

.intro {
  margin-top: 40px;
}

.intro h2 {
  margin-bottom: 30px;
}

.intro h3 {
  margin-bottom: 30px;
}

.introlist {
  margin-top: 20px;
  margin-bottom: 110px;
}

.introlist li {
  padding: 10px;
  margin-left: 50px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  font-weight: 300;
}

.intro li {
  padding: 10px;
  margin-left: 50px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  font-weight: 300;

}

.storybox li {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    font-weight: 300;
}

h5 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    font-weight: 300;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 20px;
}


hr {
    margin-top: 140px;
    margin-bottom: 140px;
    overflow: hidden;
    border-style: solid;
    border-width: 4px;
    border-radius: 8px;
    color: #EDCCC6;
}

.webScreen {
  display: none;
}

.hide {
  display: none;
}

.persona1 {
  width: 100%;
}

.persona2 {
  width: 100%;
}

.persona3 {
  width: 100%;
  display: none;
}

.designBox {
  margin-top: 30px;
}

.branding1 {
  width: 100%;
}

.branding2 {
  width: 100%;
  margin-bottom: 20px;
}

.branding3 {
  display: none;
  max-height: 100%;
}

.wireframes img {
  max-height: 271.05px;
}

.wireframes p {
  margin-bottom: 20px;
}

.flows {
  width: 100%;
  margin-top: 30px;
}

.iter4 {
  display: none;
}

.testingBox {
  width: 100%;
  margin-top: 30px;
}

.preference3 {
  margin-bottom: 20px;
}

.testingBox img {
  width: 100%;
}

.sketchBox img {
  width: 100%;
}

.sketchy1 {
  display: none;
}

 .lofi4 {
   display: none;
 }

.lofi5 {
  display: none;
}

.fiBox {
  display: inline-flex;
}

.fiBox img {
  width: 33%;
}

.hifi2 {
  display: none;
}

.hifi4 {
  display: none;
}

.iterationBox {
  display: inline-flex;
  margin-top: 30px;
}

.iterationBox img {
  width: 33%;
  max-height: 310px;
}

.space {
  margin-top: 120px;
}

.lilSpace {
  margin-top: 60px;
}

.introbox a {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  font-weight: 500;
}

.link1 {
  color: #12634F;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  font-weight: 500;
}


/* UNIVERSAL */

.fixedfoot {
  /* desktop
  grid-column: 1 / -1;
  grid-row: 3;
  background-image: url(../images/plants1.png);
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px; */
}

/* desktop
.leftfoot {
  /flex-grow: 1;
} */

footer {
  z-index: 99;
  max-width: 100%;
  bottom: 0;
  grid-column: 1 / -1;
  grid-row: 3;
}

  .angle2 {
    position: absolute;
    overflow: hidden;
    width: 100%;
    -webkit-clip-path: polygon(0 calc(2% + 15vw), 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 calc(2% + 15vw), 100% 0, 100% 100%, 0 100%);
  }

  @supports not ((-webkit-clip-path: polygon(0 calc(2% + 15vw), 100% 0, 100% 100%, 0 100%)) or (clip-path: polygon(0 calc(0% + 7vw), 100% 0, 100% 100%, 0 100%))) {
    .angle2::before, .angle2::after {
      content: "";
      position: absolute;
      left: 0;
      z-index: 99;
      display: block;
      border-style: solid;
    }
    .angle2::before {
      top: 0;
      border-width: 8vw 100vw 0 0;
      border-color: #fff transparent transparent transparent;
    }
  }

.angle2 img {
  height: 350px;
}

.leftfoot {
   color: #707070;
   position: relative;
   padding: 15px;
   text-align: center;
   max-width: 100%;
   line-height: 1.8;
   top: 100px;
   margin-bottom: 10px;
}


.rightfoot {
   color: #707070;
   height: 2em;
   position: relative;
   text-align: center;
   max-width:100%;
   top: 110px;
}

footer a {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: #9C7B35;
  text-decoration: none;
/*  padding-left: 20px; */
  font-weight: 300;
  display: block;
}

footer a:hover {
  font-weight: 500;
  color: #EDCCC6;
}

footer h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
/* desktop  right: 8px; */
}



/* Tablets */



@media only screen and (min-width: 600px) {

  main {
      grid-template-rows: 600px auto 60px;
  }

  .home {
    display: block;
  }

  .hero-text {
    max-width: 79%;
  }

  .arrows {
    left: 48%;
  }

  .gotop {
    display: block;
    margin-right: 10px;
    margin-bottom: 70px;
  }

  h1 {
    font-size: 35px;
  }

.angle2 {
  display: none;
}

/*contact*/
.iconlist {
  top: 60%;
}

input {
  width: 400px;
}

/* About */

.skills {
  font-size: 22px;
}

.roles {
  font-size: 30px;
}

.creativeImages {
    column-count: 3;
    column-gap: 5px;
}

/* Gather */

.personaFigma {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  max-width: 100%;
}

.persona1 {
  grid-column: 1 / span 12;
}

.persona2 {
  grid-column: 1 / span 6;
}

.persona3 {
  grid-column: 7 / span 6;
  display: block;
}

.storybox {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: flex-start;
  max-width: 100%;
}

.high {
  grid-column: 1 / span 4;
  width: 100%;
  grid-row: 1;
  text-align: center;
  color: #9C7B35;
}

.medium {
  grid-column: 5 / span 4;
  width: 100%;
  grid-row: 1;
  text-align: center;
  color: #9C7B35;
}

.low {
  grid-column: 9 / span 4;
  width: 100%;
  grid-row: 1;
  text-align: center;
  color: #9C7B35;

}

  .highPoints {
    grid-column: 1 / span 4;
    grid-row: 2;
    width: 100%;
  }

  .mediumPoints {
    grid-column: 5 / span 4;
    grid-row: 2;
    width: 100%;
  }

  .lowPoints {
    grid-column: 9 / span 4;
    grid-row: 2;
    width: 100%;
}

.designBox {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: flex-start;
  max-width: 100%;
}

.designBox a {
  grid-column: 1 / -1;
  grid-row: 2;
}

.branding1 {
  grid-column: 1 / span 5;
  grid-row: 1;
}

.branding2 {
  grid-column: 6 / span 5;
  grid-row: 1;
}

.branding3 {
  grid-column: 11 / span 2;
  grid-row: 1;
  display: block;
}

.wireframes img {
  max-height: 375px;
}

.sketchBox {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: flex-start;
  max-width: 100%;
}

.sketchy1 {
  grid-column: 1 / span 6;
  display: block;
}

.sketchy2 {
  grid-column: 7 / span 7;
}

.fiBox {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: flex-start;
  max-width: 100%;
}

.fiBox img {
    width: 100%;
}

.lofi1 {
  grid-column: 1 / span 1;
}

.lofi2 {
  grid-column: 2 / span 1;
}

.lofi3 {
  grid-column: 3 / span 1;
}

.lofi4 {
  grid-column: 4 / span 1;
  display: block;
}

.lofi5 {
  grid-column: 5 / span 1;
  display: block;
}

.hifi2 {
  display: block;
}

.hifi4 {
  display: block;
}

.introlist li {
  padding: 10px;
  margin-left: 50px;
}

.testingBox {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 50px;
  margin-bottom: 10px;
  align-items: flex-start;
  max-width: 100%;
}

.preference1 {
  grid-column: 1 / span 5;
  grid-row: 1 / span 2;
}

.preference2 {
  grid-column: 6 / span 7;
  grid-row: 1;
}

.preference3 {
  grid-column: 6 / span 7;
  grid-row: 2;
}

.iterationBox {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1fr;
  margin-top: 50px;
  margin-bottom: 10px;
  align-items: flex-start;
  max-width: 100%;
}

.iterationBox img {
    width: 100%;
}

.iter1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.iter2 {
  grid-column: 3 / span 2;
  grid-row: 1;
}

.iter3 {
  grid-column: 5 / span 2;
  grid-row: 1;
}

.iter4 {
  grid-column: 7 / span 5;
  grid-row: 1;
  display: block;
}

footer {
  grid-column: 1 / -1;
  grid-row: 3;
  background-image: url(../images/plants1.png);
  display: inline-flex;
  align-items: center;
  height: 60px;
}

.fixedfoot {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 2fr 3fr;
  width: 100%;
}

.leftfoot {
   position: relative;
   display: inline-flex;
   grid-column: 1;
   text-align: left;
   align-self: center;
   top: 0px;
   padding: 0px;
   width: 100%;
   text-align: left;
   margin-bottom: 0px;
}

.rightfoot {
  grid-column: 2;
   position: relative;
   align-self: center;
   text-align: right;
   width: 100%;
   top: 0px;
}

footer a {
  padding-left: 20px;
  padding-right: 20px;
}

footer a:hover {
  font-weight: 500;
  color: #EDCCC6;
}

footer h6 {
  text-align: right;
  color: #FFFFFF;
  right: 8px;
  margin: 0;
  margin-right: 10px;
  padding-top: 10px;
}
}

@media only screen and (min-width: 750px){
  .iconlist {
    top: 52%;
  }

  .introbox {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 50px;
    align-items: center;
  }

  .webScreen {
    grid-column: 4 / span 9;
    align-self: end;
    display: flex;
    align-items: center;
  }

  .introbox h3 {
    margin: auto;
    text-align: center;
  }

  .appScreen {
    grid-column: 1 / span 3;
    text-align: right;
    align-self: end;
  }

  .insta {
    grid-column: 1 / span 3;
    margin-left: 1.5em;
    text-align: center;
  }

  .insta3 {
    grid-column: 4 / span 9;
    margin-left: 1.5em;
    align-self: center;
    display: block;
    text-align: center;
  }

  .insta3 a {
    color: #12634F;
  }

  .insta3 a:hover {
    opacity: 0.7;
  }

  .insta3 a:visited {
    color: #3C5050;
  }

  .hide {
    display: block;
  }
}

@media only screen and (min-width: 900px) {

  nav a {
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  }

  .rightnav {
    margin-left: 10px;
  }

  .blurb p {
    font-size: 22px;
  }

  p {
    font-size: 22px;
  }

  .hero-text {
    top: 22%;
    max-width: 70%;
  }



  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 30px;
  }

  .iconlist {
    margin-left: 10px;
    top: 55%;
  }

  input {
    width: 600px;
  }

  .gatherbox {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    margin-bottom: 150px;
  }

  .gatherimg {
    grid-column: 4 / span 3;
    grid-row: 1;
  }

  .gatherimg img {
    max-width: 100%;
  }

  .gatherdesc {
    grid-column: 1 / span 3;
    grid-row: 1;
    margin-top: 60px;
    text-align: right;
    padding-right: 20px;
    align-self: center;
  }

  .button {
    margin: 0;
    margin-left: auto;
    margin-top: 10px;
  }

  .paragraph {
    margin-bottom: 10px;
    text-align: center;
  }

  .me {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 140px;
      align-content: center;
  }

  .aboutme {
    grid-column: 1;
    align-self: center;
  }

  .portrait {
    grid-column: 2;
  }

  .portrait img {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1000px) {

  h1 {
    font-size: 40px;
    line-height: 60px;
  }

  .iconlist {
    margin-left: 10px;
    top: 62%;
  }

  .creativeImages {
      column-count: 4;
      column-gap: 5px;
  }
}

@media only screen and (min-width: 1030px) {

  .angle img {
    width: 100%;
}

.bodycontent {
  grid-column: 3 / span 8;
  grid-row: 2;
}
}
